<nav class="navbar  {% if page is defined and (page == 'credentials' or page=='credential' or page=='home' or page=='meet_your_next_course') %}navbar-white navbar-colored{% endif %} navbar-fixed-top headroom headroom--top" role="navigation">

  <div class="navbar_container">
    <a class="navbar_logo" href="{{ path('ClassCentralSiteBundle_homepage')}}" title="MOOC aggregator">
      <div class="u-scaling-svg icon-class-central-logo">
        <svg role="logo" aria-label="class central logo" viewBox="0 0 332 32" class="u-scaling-svg_shape">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cc-logo"></use>
        </svg>
      </div>
    </a>

    <div id="navbarCollapse" class="navbar_collapse collapse">
      <ul class="mainMenu">


         {% if app.user %}
            <li class="mainMenu_item mainMenu_item-collapsedNav dropdown">
                <a href="#" class="mainMenu_link js-toggleSub">
                    {% if app.user.name %}
                        {% set n =  app.user.name|split(' ') %}
                        {% set name = n[0] %}
                        {% if name|length > 10 %}
                            {{ name|slice(0,9) }}..
                        {% else %}
                            {{ name  }}
                        {% endif %}

                    {% else %}
                        User Menu
                    {% endif %}
                    <b class="caret"></b>
                </a>
                <ul class="mainMenu_sub mainMenu_sub-right">

                    <li class="mainMenu_item">
                        <a href="{{ path('user_library') }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'Class Central User Menu')" title="My Courses">
                            My Courses
                        </a>
                    </li>
                    <li class="mainMenu_item">
                        <a href="{{ user_service.getProfileUrl( app.user.id, app.user.handle ) }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'Class Central User Menu - My Profile')" title="My Profile">
                            My Profile
                        </a>
                    </li>
                    <li class="mainMenu_item">
                        <a href="{{ path('user_reviews') }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'Class Central User Menu - My Reviews')" title="My Reviews">
                            My Reviews
                        </a>
                    </li>
                    <li class="mainMenu_item">
                        <a href="{{ path('user_preferences') }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'Class Central User Preferences')" title="Preferences">
                            Preferences
                        </a>
                    </li>
                    <li class="mainMenu_item">
                        <a href="{{ path('user_follows') }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'My Follows')" title="My Follows">
                            Follows
                        </a>
                    </li>
                    <li class="mainMenu_item">
                        <a href="{{ path('user_recommendations') }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'My Recommendations')" title="My Recommendations">
                            Recommendations <sup>BETA</sup>
                        </a>
                    </li>
                    <li class="mainMenu_item">
                        <a href="{{ path('logout') }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'Logout')" >Logout</a>
                    </li>

                </ul>
            </li>

        {% else %}

            <li class="mainMenu_item mainMenu_item-collapsedNav">
                <a href="{{ path('login') }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'Login')">
                    Sign in
                </a>
            </li>
            {% if page is defined and (page == 'credentials' or page=='credential' or page=='home' or page=='meet_your_next_course') %}
                <li class="mainMenu_item mainMenu_item-collapsedNav">
                    <a href="{{ path('signup') }}" id="navbar-create-free-account" class="mainMenu_link" title="Class Central Signup" onClick="ga('send','event', '{{ navEventName }}', 'Class Central Signup User Menu')" title="Class Central Signup">
                        Sign Up
                    </a>
                </li>
            {% endif %}

        {% endif %}



        <li class="mainMenu_item dropdown">
          <a href="#" class="mainMenu_link js-toggleSub">Courses <b class="caret"></b></a>
          
          <ul class="mainMenu_sub">

             <li class="mainMenu_item">
                <a href="{{ path('trending')}}" class="mainMenu_link" title="Trending free online courses - MOOCs" onClick="ga('send','event', '{{ navEventName }}', 'Courses', 'Trending')">Trending Now</a>
             </li>
            {% for offeringType, offeringDetails in offeringTypes %}
                {% if offeringCount[offeringType] > 0 %}
                    <li class="mainMenu_item">
                        <a href="{{ path('ClassCentralSiteBundle_courses',{'type' : offeringType})}}" class="mainMenu_link" title="{{offeringDetails.nav}} - MOOCs" onClick="ga('send','event', '{{ navEventName }}', 'Courses', '{{offeringType}}')">{{offeringDetails.nav}} ({{ offeringCount[offeringType] }})</a>
                    </li>
                {% endif %}
            {% endfor %}

          </ul>
        </li>

        {# Subjects #}
        <li class="mainMenu_item"><a href="{{ path('subjects',{}) }}" class="mainMenu_link" title="Subjects" onClick="ga('send','event', '{{ navEventName }}', 'Subjects')">Subjects</a></li>
        <li class="mainMenu_item"><a href="{{ path('credentials') }}" class="mainMenu_link" title="Earn A Credential" onClick="ga('send','event', '{{ navEventName }}', 'Credentials')">Credentials</a></li>
        <li class="mainMenu_item"><a href="/report" class="mainMenu_link" title="MOOC News, Interviews, and Analysis" onClick="ga('send','event', '{{ navEventName }}', 'MOOC Report')">MOOC Report</a></li>

        <li class="mainMenu_item mainMenu_item-collapsedNav">
          <a href="#" class="searchLink js-openSearchModal" onmousedown="ga('send','event', '{{ navEventName }}', 'Search')">
            <div class="searchLink_icon">
              <div class="u-scaling-svg">
                <svg class="u-scalingSvg__shape">
                  <use xlink:href="#shape-search-icon"></use>
                </svg>
              </div>
            </div>
            <div class="searchLink_text">
              search
            </div>
          </a>
        </li>
      </ul>
    </div>


    <a href="#navbarCollapse" class="navbar_toggle collapsed" data-toggle="collapse">
      <div class="navbar_toggleButton">
        <div class="burger">
          <div class="burger_inner">
            <span class="burger_bar burger_bar-first"></span>
            <span class="burger_bar burger_bar-second"></span>
          </div>
          <span class="sr-only">Toggle navigation</span>        
        </div>
      </div>
      
      <div class="navbar_toggleText">Menu</div>
    </a>

    <div class="navbar_right">

        <a href="#" class="pulseCircle js-tour-point" id="tour-point-search" data-step-nr="0">
            <div class="pulseCircle_dot"></div>
            <div class="pulseCircle_pulse"></div>
        </a>

      <div class="navbar_search">
        

        <a href="#" class="searchLink js-openSearchModal" onmousedown="ga('send','event', '{{ navEventName }}', 'Search')">
          <div class="searchLink_icon">
            <div class="u-scaling-svg">
              <svg class="u-scalingSvg__shape">
                <use xlink:href="#shape-search-icon"></use>
              </svg>
            </div>
          </div>
          <div class="searchLink_text">
            search
          </div>
        </a>

      </div>


      

      <div class="navbar_logreg">
          
        {% if app.user %}
            <ul class="mainMenu">
                <li class="mainMenu_item dropdown">
                    <a href="#" class="mainMenu_link mainMenu_link-withImage js-toggleSub">
                        {% if app.user.name %}
                            {% set n =  app.user.name|split(' ') %}
                            {% set name = n[0] %}
                            {% if name|length > 10 %}
                                {{ name|slice(0,9) }}..
                            {% else %}
                                {{ name  }}
                            {% endif %}

                        {% else %}
                            User Menu
                        {% endif %}
                        <b class="caret"></b>
                        <img src="http://placehold.it/50x50">
                    </a>
                    <ul class="mainMenu_sub mainMenu_sub-right">

                        <li class="mainMenu_item">
                            <a href="{{ path('user_library') }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'Class Central User Menu')" title="My Courses">
                                My Courses
                            </a>
                        </li>
                        <li class="mainMenu_item">
                            <a href="{{ user_service.getProfileUrl( app.user.id, app.user.handle ) }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'Class Central User Menu - My Profile')" title="My Profile">
                                My Profile
                            </a>
                        </li>
                        <li class="mainMenu_item">
                            <a href="{{ path('user_reviews') }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'Class Central User Menu - My Reviews')" title="My Reviews">
                                My Reviews
                            </a>
                        </li>
                        <li class="mainMenu_item">
                            <a href="{{ path('user_preferences') }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'Class Central User Preferences')" title="Preferences">
                                Preferences
                            </a>
                        </li>
                        <li class="mainMenu_item">
                            <a href="{{ path('user_follows') }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'My Follows')" title="My Follows">
                                Follows
                            </a>
                        </li>
                        <li class="mainMenu_item">
                            <a href="{{ path('user_recommendations') }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'My Recommendations')" title="My Recommendations">
                                Recommendations <sup>BETA</sup>
                            </a>
                        </li>
                        <li class="mainMenu_item">
                            <a href="{{ path('logout') }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'Logout')" >Logout</a>
                        </li>

                    </ul>
                </li>
            </ul>


        {% else %}
            <ul class="mainMenu mainMenu-withSpacers">
                <li class="mainMenu_item">
                    <a href="{{ path('login') }}" class="mainMenu_link" onClick="ga('send','event', '{{ navEventName }}', 'Login')">
                        Sign in
                    </a>
                </li>

                <li class="mainMenu_item mainMenu_item-spacer">/</li>
                <li class="mainMenu_item">
                    <a href="{{ path('signup') }}" id="navbar-create-free-account" class="mainMenu_link" title="Class Central Signup" onClick="ga('send','event', '{{ navEventName }}', 'Class Central Signup User Menu')" title="Class Central Signup">
                        Sign Up
                    </a>
                </li>
            </ul>
        {% endif %}

      </div>
    </div>

    
  </div>
      
</nav>