
<!-- search modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="write-modal-title-here" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog__xl" role="document">
        <div class="searchModal_wrap">
            <a href="#" class="searchModal_close" data-dismiss="modal" aria-label="Close"></a>
            <div class="searchModal">
                <div class="searchModal_main">
                    <div class="searchModal_mainContent">

                        <div class="searchModal_searchWrap is-middle js-searchWrap">
                            <div class="searchModal_search">
                                <form class="plainSearch js-typeaheadSearch" action="/search" method="get" name="search">
                                    <button class="plainSearch_button" type="submit">
                                        <div class="u-scaling-svg">
                                            <svg class="u-scalingSvg__shape plainSearch_buttonShape">
                                                <use xlink:href="#shape-search-icon"></use>
                                            </svg>
                                        </div>
                                    </button>
                                    <input type="text" class="plainSearch_input js-searchModalInput" placeholder="search" value name="q">
                                </form>
                            </div>
                            <div class="js-dynamicSearchContent">
                                <div class="searchModal_contentBlock searchModal_contentBlock-reducedSpacing">
                                    <h3 class="searchModal_sectionTitle searchModal_sectionTitle-reducedMargin">Previous searches</h3>
                                    <div class="searchModal_text">
                                        <a href="#">marketing</a>, <a href="#">marketing science</a>, <a href="#">marketing</a>, <a href="#">marketing science</a>, <a href="#">marketing</a>, <a href="#">marketing science</a>,
                                        <a href="#">marketing</a>, <a href="#">marketing science</a>, <a href="#">marketing science</a>
                                    </div>
                                </div>

                                <div class="searchModal_contentBlock searchModal_contentBlock-reducedSpacing">
                                    <h3 class="searchModal_sectionTitle searchModal_sectionTitle-reducedMargin">Recently viewed courses</h3>
                                    <div class="searchModal_text">
                                        <div>
                                            <a href="#">Creating Engaging Environments for English Language Classrooms</a>
                                        </div>
                                        <div>
                                            <a href="#">How Things Work: An Introduction to Physics</a>
                                        </div>
                                        <div>
                                            <a href="#">Programming for Everybody (Getting Started With Python)</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="searchModal_footer">
                            <div class="searchModal_footerUnit">
                                <div class="searchModal_icon searchModal_icon-navigate">
                                    <div class="u-scaling-svg">
                                        <svg class="u-scalingSvg__shape">
                                            <use xlink:href="#shape-navigate"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="searchModal_footerText">to navigate</span>

                            </div>
                            <div class="searchModal_footerUnit">
                                <div class="searchModal_icon searchModal_icon-enter">
                                    <div class="u-scaling-svg">
                                        <svg class="u-scalingSvg__shape">
                                            <use xlink:href="#shape-enter"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="searchModal_footerText">to select result</span>

                            </div>
                            <div class="searchModal_footerUnit">
                                <div class="searchModal_icon searchModal_icon-esc">
                                    <div class="u-scaling-svg">
                                        <svg class="u-scalingSvg__shape">
                                            <use xlink:href="#shape-esc"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="searchModal_footerText">to close search</span>

                            </div>
                        </div><!-- /.searchModal_footer -->
                    </div><!-- /.searchModal_main -->
                </div>

                <div class="searchModal_sidebar">
                    <div class="searchModal_sidebarContent">

                        <div class="searchModal_contentBlock">
                            <h3 class="searchModal_sectionTitle">Trending</h3>

                            <ul class="courseLinks">

                                {% set trendingCount = 0 %}
                                {% for result in trendingCourses.hits.hits if trendingCount < 5 %}
                                    {% set course = result._source %}
                                    <li class="courseLinks_item">
                                        <div class="courseLink">
                                            <div class="courseLink_icon">
                                                <div class="u-scaling-svg">
                                                    <svg class="u-scalingSvg__shape">
                                                        <use xlink:href="#shape-trending"></use>
                                                    </svg>
                                                </div>
                                            </div>

                                            <a href="{{ path('ClassCentralSiteBundle_mooc',{'id': course.id, 'slug': course.slug} ) }}" class="courseLink_title">{{ course.name }}</a>
                                          <span class="courseLink_meta">
                                              {% include 'ClassCentralSiteBundle:Helpers:starRating.html.twig' with {ratingColour:'brand',formattedRating: course.formattedRating} %}
                                          </span>
                                            <span class="courseLink_meta">{{ course.reviewsCount }} reviews</span>
                                            <a href="{{ course.nextSession.url }}" target="_blank" class="courseLink_hoverMeta">
                                            <span class="courseLink_hoverMetaIcon">
                                              <div class="u-scaling-svg">
                                                  <svg class="u-scalingSvg__shape">
                                                      <use xlink:href="#shape-direct-link"></use>
                                                  </svg>
                                              </div>
                                            </span>
                                                <span class="courseLink_hoverMetaText">Go To class</span>
                                            </a>
                                        </div>

                                    </li>
                                {% set trendingCount = trendingCount + 1 %}
                                {% endfor %}

                            </ul>

                            <a href="{{ path('trending') }}" class="searchModal_seeMore">See more</a>
                        </div>

                        <div class="searchModal_contentBlock">
                            <h3 class="searchModal_sectionTitle">New and Popular</h3>

                            <ul class="courseLinks">
                                {% set popularCount = 0 %}
                                {% for result in popularCourses.hits.hits if popularCount < 4 %}
                                    {% set course = result._source %}
                                <li class="courseLinks_item">

                                    <div class="courseLink">
                                        <a href="{{ path('ClassCentralSiteBundle_mooc',{'id': course.id, 'slug': course.slug} ) }}" class="courseLink_title">{{ course.name }}</a>
                                        <span class="courseLink_meta">{{ course.followed }} interested students</span>
                                        <a href="{{ course.nextSession.url }}" class="courseLink_hoverMeta">
                                    <span class="courseLink_hoverMetaIcon">
                                        <div class="u-scaling-svg">
                                            <svg class="u-scalingSvg__shape">
                                                <use xlink:href="#shape-direct-link"></use>
                                            </svg>
                                        </div>
                                    </span>
                                            <span class="courseLink_hoverMetaText">Go to class</span>
                                        </a>
                                    </div>

                                </li>

                                {% set popularCount = popularCount + 1 %}
                                {% endfor %}

                            </ul>
                        </div>



                    </div>
                </div>





            </div>
        </div>
    </div>
</div>
<!-- search modal end -->
